<table class="table">
  <thead>
    <tr> 
      <th scope="col">Name</th> 
      <th scope="col">Homeroom</th>
      <th scope="col">Graduation Year</th>
    </tr>
  </thead>
  <tbody>
    <% @students.each do |student| %> 
      <tr scope="row">
        <td><%= student.name %> </td>
        <td><%= student.homeroom %> </td>
        <td><%= student.graduation_year %> </td>
       </tr>
    <% end %> 
  </tbody>
</table>

