<table class="table">
  <thead>
    <caption>All students</caption>
    <tr>
      <th>Name</th>
      <th>Homeroom</th>
      <th>Graduation Year</th>
    </tr>
  </thead>
  <tbody>
  <% @students.each do |student| %>
    <tr>
        <td><%= link_to student.name, student_path(student) %>
        <td><%= student.homeroom %>
        <td><%= student.graduation_year %>
    </tr>
  <% end %>
  </tbody>
</table>
<br>
<%= link_to "Register new student", new_student_path, class: "btn btn-secondary" %>