<table class="table">
<% @students.each do |student| %>
    <tr>
        <td><%= student.name %>
        <td><%= student.homeroom %>
        <td><%= student.graduation_year %>
    </tr>
<% end %>
</table>