<h3>Student details</h3>

<dl>
  <dt>Name</dt>
  <dd><%= @student.name %></dd>

  <dt>Homeroom</dt>
  <dd><%= @student.homeroom %></dd>

  <dt>Graduation year</dt>
  <dd><%= @student.graduation_year %></dd>

</dl>
